* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body {
	background:#FEFEFE;
	background-image: url(../img/fondo0.jpg);
	background-size: 100vw 120vh;
	background-attachment: fixed;
}




.contenedor{

	background-color:#264E99;
	width: 900px;
	height: 320px;
	margin-bottom: 10px


}
.boton{
	color: white;
	background-color: white;
	color: black;
	cursor: pointer;
	display: inline-block;
	width: 90px;
	height: 70px;
	border-radius: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 60px;
	text-align: center;
	padding-top: 49px;
	font-family: times new roman;
	padding: 22px;


}
.boton:{
	color:blue;
	background-color:silver;
}
#menu{
	text-align: center;
	height: 100px;

	
}
.imagen{
	display: inline-block;
	border-right-color: blue;
	width: 500px;
	height: 70px;
	padding: 20px;
	width: 900px;
	height: 220px;
	text-align: center;
 
}
.texto_yarn{
		text-align: center;
	display: inline-block;
	width: 900px;
	padding: 30px;
	text-align: center;

}
#yarn{
	height: 400px;



}

.texto_funciones{
    display: inline-block;
	height: 150px;
}	
.funciones{
 	height: 40px;

 }


#abrir



 .texto_requisitos_instalacion
 


       

 #requisitos_instalacion{

 	width: 30px;
	
 
 }
 }

.text_pasos_instalacion

#pasos_instalacion{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
    padding: 20px;
    text-align: center;

	
	#tutorial {
		text-align: center
			;
	margin-right: auto;
	margin-left: auto;

tex-aling :center	;
ancho : 1000; 
		

	}
#como_usar_Yarn{
width: 900px;
text-align: center;
}
#contenedor_principal{
	width: 850px;
	margin-left: auto;
	margin-right: auto;

}
